/*
211, 100%, 74%
004175
005499
0089fa
2ea1ff
7abaff
e0f1ff
f0f8ff
f5faff
*/

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#wrap {
	margin:auto;
	width:1350px;
	font-family: 'Noto Sans KR', sans-serif;	
}

a {
	text-decoration: none;
	color:black;	
}

/*============================*/

header hr {
	border:2px solid transparent;
}

#topMenu {
	height: 70px;
}

#topMenu .icon {
	float:left;
	margin:5px 0 0 30px;
	height: 60px;
}

#topMenu p {
	float:left;
	display:inline-block;
	margin:16px 0 0 20px ;
	height: 70px;
	font-size:45px;
	font-family: 'Black Han Sans', sans-serif;
}

/*---------------------------------------*/

#search {
	float:left;
	margin: 16px 0 0 50px ;
	height:60px;
}

#search table, td {
	width: 500px;
	height: 40px;
	border-collapse: collapse;
	/*border:2px solid gray;*/
	background-color: #e0f1ff;
}

#search input {
	width: 500px;
	height: 100%;
	font-size:20px;
	border:0px solid ;	
	background-color: #f0f8ff;
}

#search input:focus {
	outline: none;
}

#search img {
	padding:5px 10px;
	width: 30px;
	height: 30px;
	cursor:pointer;
}

/*---------------------------------------*/

#topMenu ul{
	float:right;
	margin:19px 10px 0 0;
	padding:0px;
	font-size:18px;
}

#topMenu li {
	display:inline-block;
	width:130px;
	border: 2px solid transparent;
	border-right: 2px solid lightgray;
}

#topMenu .lastLi {
	border-right: 2px solid transparent;
}
/*---------------------------------------*/

hr {
	margin : 20px 0 0 0;
	border : 1px solid lightgray;
}

/*---------------------------------------*/

#mainMenu ul {
	margin:0px;
	padding:0px;
	font-size:25px;
}

#mainMenu li {
	display:inline-block;
	height:40px;
	padding: 0 30px;
	cursor:pointer;
}

#mainMenu li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}

#mainMenu #check {
	font-weight:bold;
	border-radius:30px;
	background-color:#e0f1ff;
}

/*---------------------------------------*/

#menuMain {
	padding: 0px;
	height:45px;
	font-size:18px;
	border-radius:5px;
	background-color:#f0f8ff;
}

#menuMain li {
	display:inline-block;
	margin:5px;
	padding:5px 30px;	
	cursor: pointer;
}

#menuMain li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}


/*---------------------------------------*/
/*
c8d3df
*/
section #searchHotels p {
	text-align:left;
	font-size: 30px;
}

section #searchHotels ul {
	padding:0;
	background-color:#fcfcfc;
	border-radius:5px;
	border:1px solid lightgray;
}

section #searchHotels li {
	display: inline-block;
	margin:0px;
	padding:0px;
	width:265.55px;
	height:70px;
	background-color:#fcfcfc;
	/* border:1px solid lightgray; */
}

section #searchHotels input {
	display: inline-block;
	width:265.55px;
	height:70px;
	font-size:22px;
	border-radius:5px;
	background-color:#fcfcfc;
	border:0px;
}

section #searchHotels input:hover {
	display: inline-block;
	height:70px;
	font-size:22px;
	border-radius:5px;
	background-color:#eff4fb;
}

section #searchHotels input:focus{
	outline:none;
}

section #searchHotels input:active{
	background-color: #e2ecf8;
}

/*--------------*/

section #cityResult {
	display:none;
}

section #cityResult input{
	display:inline-block;
	width:800px;
	text-align: center;
	border:1px solid lightgray;
}

section #cityResult input:hover{
	width:800px;
}

section #cityResult input:focus{
	width:800px;
	outline:none;
}

/*-----------------------------------------*/

#check div {
	margin: auto;
}

/*----------------*/

#check #all {
	display:none;
	width: 400px;
	border-radius: 15px;
	border:1px solid lightgray;
}

#all #selectMonth {
	margin: 0 0 10px 0;
	padding:0px;
	width: 400px;
	height:50px;
}

#check #all p {
	display: inline-block;
	margin:0px;
	padding: 10px;
	font-size:25px;
}

#check #all input[type="button"] {
	margin:0px;
	padding:0 0 2px 0; 
	width: 30px;
	color: #5e5e5e;
	background-color:#ffffff;
	border-radius: 30px;
	border: 0px solid;
}

#check #all input[type="button"]:hover {
	width: 30px;
	background-color:#eaf2fa;
	border: 0px solid;
}

/*----------------*/
#check table {
	text-align:center;
}

#check table td {
	width: 40px;
	height:40px;
	font-size:25px;
	background-color:#ffffff;
	border-radius: 30px;
	border: 1px solid transparent;
	cursor:pointer;
}

#check table td:first-child{
	color: red;
}

#check table td:last-child{
	color: blue;
}

#check .calendar td:hover {
	background-color:#DCDCDC;
}
/*----------------*/
#check input {
	width: 150px;
	height:30px;
}
#check #calendar {
	margin: 0 0 20px 0;
}

/*-----------------------------------------*/
section #memNum {
	display:none;
}

section #people {
	width:500px;
	font-size:20px;
	background-color:#fcfcfc;
	border-radius:5px;
	border:1px solid lightgray;
}

section #people td {
	padding:0px;
	text-align:center;
	background-color:#fcfcfc;	
	border-radius:5px;
}

section #people select {
	width: 100%;
	height: 100%;
	font-size:20px;
	background-color:#fcfcfc;	
	border: 0px;
	border-radius:5px;
}

section #people select:focus {
	outline:none;
}

section #people select:hover {
	background-color:#e7eff8;
}

/*--------------*/

section #promotion p {
	text-align:left;
	font-size: 30px;
}
/*--------------*/

section #promotion p {
	text-align:left;
	font-size: 30px;
}
/*--------------*/

section #object > p {
	text-align:left;
	font-size: 30px;
}


section #object .goods{
	display:inline-block;
	margin:5px;
	width: 312px;
	height: 300px;
	border: 1px solid lightgray;
	cursor: pointer;
}

section #object .g_img{
	overflow: hidden;
	margin: 0px;
	width: 312px;
	height: 200px;
}

section #object img{
	width: 350px;
}

section #object img:hover{
	opacity: 0.5;
}

section #object .g_ex{
	overflow: hidden;
	margin:3px 0px 0 0px;
	width: 280px;
	height: 50px;
	text-align:left;
}

section #object .g_price{
	margin:3px 0 0 0;
	padding: 0 15px 0 0;
	height: 25px;
	color: #0089fa;
	font-size:20px;
	text-align:right;
}

/*---------------------------------------*/

footer {
	border: 2px solid lightgray;
	clear:both;
}

footer li {
	display: inline-block;
	width: 150px;
}
