/*
211, 100%, 74%
004175
005499
0089fa
2ea1ff
7abaff
e0f1ff
f0f8ff
f5faff
*/

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#wrap {
	margin:auto;
	width:1350px;
	font-family: 'Noto Sans KR', sans-serif;	
}

a {
	text-decoration: none;
	color:black;	
}

/*============================*/

header hr {
	border:2px solid transparent;
}

#topMenu {
	height: 70px;
}

#topMenu .icon {
	float:left;
	margin:5px 0 0 30px;
	height: 60px;
}

#topMenu p {
	float:left;
	display:inline-block;
	margin:16px 0 0 20px ;
	height: 70px;
	font-size:45px;
	font-family: 'Black Han Sans', sans-serif;
}

/*---------------------------------------*/

#search {
	float:left;
	margin: 16px 0 0 50px ;
	height:60px;
}

#search table, td {
	width: 500px;
	height: 40px;
	border-collapse: collapse;
	/*border:2px solid gray;*/
	background-color: #e0f1ff;
}

#search input {
	width: 500px;
	height: 100%;
	font-size:20px;
	border:0px solid ;	
	background-color: #f0f8ff;
}

#search input:focus {
	outline: none;
}

#search img {
	padding:5px 10px;
	width: 30px;
	height: 30px;
	cursor:pointer;
}

/*---------------------------------------*/

#topMenu ul{
	float:right;
	margin:19px 10px 0 0;
	padding:0px;
	font-size:18px;
}

#topMenu li {
	display:inline-block;
	width:130px;
	border: 2px solid transparent;
	border-right: 2px solid lightgray;
}

#topMenu .lastLi {
	border-right: 2px solid transparent;
}
/*---------------------------------------*/

hr {
	margin : 20px 0 0 0;
	border : 1px solid lightgray;
}

/*---------------------------------------*/

#mainMenu ul {
	margin:0px;
	padding:0px;
	font-size:25px;
}

#mainMenu li {
	display:inline-block;
	height:40px;
	padding: 0 30px;
	cursor:pointer;
}

#mainMenu li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}

#mainMenu #check {
	font-weight:bold;
	border-radius:30px;
	background-color:#e0f1ff;
}

/*---------------------------------------*/

#menuMain {
	padding: 0px;
	height:45px;
	font-size:18px;
	border-radius:5px;
	background-color:#f0f8ff;
}

#menuMain li {
	display:inline-block;
	margin:5px;
	padding:5px 30px;	
	cursor: pointer;
}

#menuMain li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}

/*---------------------------------------*/

section > p {
	height:36.5px;
}

section > p > b{
	float:left;
	width:180px;
	text-align:center;
	font-size:25px;
	background-color: #f0f8ff;
}

section #list {
	padding:0px;
}

#list ul {
	margin:0px;
	padding:0px;
}

#list li {
	display:inline-block;
	padding: 10px 0;
	width:180px;
	font-size:20px;
	cursor:pointer;
}

#list li:first-child {
	width:100px;
}

#list li:nth-child(2) {
	text-align:left;
	width:700px;
}

#list li:last-child {
	width:300px;
}

#titleList li:nth-child(2) {
	text-align:center;
}

#titleList {
	background-color:#f6f7f9;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid gray;
}

#reviewList{
	border-bottom: 1px solid lightgray;
}

#reviewList:hover{
	background-color:#e5e5e6;
}

/*---------------------------*/

section #write{
	text-align:right;
}

#write button {
	width: 150px;
	height:50px;
	font-size: 18px;
	color: #ffffff;
	background-color: #a3d0ff;
	border:0px solid;
	cursor:pointer;
}


/*---------------------------------------*/

.center {  /*가운데 정렬*/
  text-align: center;
}

.pagination {
	display: inline-block;
	margin:auto;
}

.pagination a {
  float: left;
  margin:3px;
  padding: 8px 16px;
  text-decoration: none;
  width:25px;
  height:25px;
  font-size:18px;
  border:1px solid #8f8f8f;
}

.pagination a:hover {
	background-color: #ddd;
}

.pagination a:active {
  background-color: #9c9cbf;
  color: white;
}

.pagination a:focus {
  background-color: #9c9cbf;
  color: white;
}

/*---------------------------------------*/

footer {
	border: 2px solid lightgray;
	clear:both;
}

footer li {
	display: inline-block;
	width: 150px;
}
