/*
211, 100%, 74%
004175
005499
0089fa
2ea1ff
7abaff
e0f1ff
f0f8ff
f5faff
*/

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#wrap {
	margin:auto;
	width:1350px;
	font-family: 'Noto Sans KR', sans-serif;	
}

a {
	text-decoration: none;
	color:black;	
}

/*============================*/

header hr {
	border:2px solid transparent;
}

#topMenu {
	height: 70px;
}

#topMenu .icon {
	float:left;
	margin:5px 0 0 30px;
	height: 60px;
}

#topMenu p {
	float:left;
	display:inline-block;
	margin:16px 0 0 20px ;
	height: 70px;
	font-size:45px;
	font-family: 'Black Han Sans', sans-serif;
}

/*---------------------------------------*/

#search {
	float:left;
	margin: 16px 0 0 50px ;
	height:60px;
}

#search table, td {
	width: 500px;
	height: 40px;
	border-collapse: collapse;
	/*border:2px solid gray;*/
	background-color: #e0f1ff;
}

#search input {
	width: 500px;
	height: 100%;
	font-size:20px;
	border:0px solid ;	
	background-color: #f0f8ff;
}

#search input:focus {
	outline: none;
}

#search img {
	padding:5px 10px;
	width: 30px;
	height: 30px;
	cursor:pointer;
}

/*---------------------------------------*/

#topMenu ul{
	float:right;
	margin:19px 10px 0 0;
	padding:0px;
	font-size:18px;
}

#topMenu li {
	display:inline-block;
	width:130px;
	border: 2px solid transparent;
	border-right: 2px solid lightgray;
}

#topMenu .lastLi {
	border-right: 2px solid transparent;
}
/*---------------------------------------*/

hr {
	margin : 20px 0 0 0;
	border : 1px solid lightgray;
}

/*---------------------------------------*/

#mainMenu ul {
	margin:0px;
	padding:0px;
	font-size:25px;
}

#mainMenu li {
	display:inline-block;
	height:40px;
	padding: 0 30px;
	cursor:pointer;
}

#mainMenu li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}

/*---------------------------------------*/

#menuMain {
	padding: 0px;
	height:45px;
	font-size:18px;
	border-radius:5px;
	background-color:#f0f8ff;
}

#menuMain li {
	margin:5px;
	display:inline-block;
	padding:5px 30px;	
	cursor: pointer;
}

#menuMain li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}

/*---------------------------------------*/

section b {
	float:left;
	padding:0 0 20px 80px ;
	font-size:22px;
}

section #divUpdDel {
	margin: 0 0 0 1000px;
	width: 350px;
	padding: 0px;
}

section .UpdDel {
	margin:10px;
	width: 100px;
	height:30px;
	font-size: 18px;
	color: #ffffff;
	background-color: #a3d0ff;
	border:0px solid;
	cursor:pointer;	
}

/*---------------------------------------*/

#write table {
	margin: 0px;
	width: 1200px;
	font-size: 18px;
	border-collapse: collapse
}

#write tr:first-child {
	border-top: 1px solid gray;
	border-bottom: 1px solid lightgray;
}

#write tr:last-child {
	border-bottom: 1px solid gray;
}

#write tr:first-child td{
	height:60px;
}

#write tr:last-child td{
	height:300px;
}

#write .title {
	border-right: 1px solid lightgray;
}

#write td{
	background-color: #ffffff;
}

#write .title{
	padding: 0 0 0 20px;
	width:60px;
	background-color:#f6f7f9;
}

#subex {
	padding : 0 20px 0 0;
	text-align:right;
	color: #383838;
}

#write input[type=text]{
	padding:0px;
	width:99.8%;
	height:60px;
	font-size:18px;
	font-family: 'Noto Sans KR', sans-serif;	
	border:0px solid red;
}

#write textarea {
	width:99.3%;
	height:300px;
	font-size:18px;
	font-family: 'Noto Sans KR', sans-serif;	
	border:0px solid red;
}

#write input[type=text]:focus{
	outline:none;
}

#write textarea:focus{
	outline:none;
}

#write p > span {
	margin:0 0 0 1050px;
}

#list {
	padding:0px;	
	width: 1200px;
	list-style:none;
	text-align:left;
}

#list li{
	padding: 5px 0 0 40px; 
	height:30px;
	background-color: #f6f7f9;
	border-bottom:1px solid lightgray;
}

#list li:first-child {
	border-top:1px solid lightgray;
}


#write input[type=submit] {
	margin:10px;
	width: 150px;
	height:50px;
	font-size: 18px;
	color: #ffffff;
	background-color: #a3d0ff;
	border:0px solid;
	cursor:pointer;
}

/*---------------------------------------*/

footer {
	border: 2px solid lightgray;
	clear:both;
}

footer li {
	display: inline-block;
	width: 150px;
}
