@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#wrap {
	margin:auto;
	width:1350px;
	font-family: 'Noto Sans KR', sans-serif;	
}

a {
	text-decoration: none;
	color:black;	
}

/*============================*/

header hr {
	border:2px solid transparent;
}

#topMenu {
	height: 70px;
}

#topMenu .icon {
	float:left;
	margin:5px 0 0 30px;
	height: 60px;
}

#topMenu p {
	float:left;
	display:inline-block;
	margin:16px 0 0 20px ;
	height: 70px;
	font-size:45px;
	font-family: 'Black Han Sans', sans-serif;
}

/*---------------------------------------*/

#search {
	float:left;
	margin: 16px 0 0 50px ;
	height:60px;
}

#search table, td {
	width: 500px;
	height: 40px;
	border-collapse: collapse;
	/*border:2px solid gray;*/
	background-color: #e0f1ff;
}

#search input {
	width: 500px;
	height: 100%;
	font-size:20px;
	border:0px solid ;	
	background-color: #f0f8ff;
}

#search input:focus {
	outline: none;
}

#search img {
	padding:5px 10px;
	width: 30px;
	height: 30px;
	cursor:pointer;
}

/*---------------------------------------*/

#topMenu ul{
	float:right;
	margin:19px 10px 0 0;
	padding:0px;
	font-size:18px;
}

#topMenu li {
	display:inline-block;
	width:130px;
	border: 2px solid transparent;
	border-right: 2px solid lightgray;
}

#topMenu .lastLi {
	border-right: 2px solid transparent;
}
/*---------------------------------------*/

hr {
	margin : 20px 0 0 0;
	border : 1px solid lightgray;
}
/*---------------------------------------*/

#mainMenu ul {
	margin:0px;
	padding:0px;
	font-size:25px;
}

#mainMenu li {
	display:inline-block;
	height:40px;
	padding: 0 30px;
	cursor:pointer;
}

#mainMenu li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}

/*---------------------------------------*/

#menuMain {
	padding: 0px;
	height:45px;
	font-size:18px;
	border-radius:5px;
	background-color:#f0f8ff;
}

#menuMain li {
	margin:5px;
	display:inline-block;
	padding:5px 30px;	
	cursor: pointer;
}

#menuMain li:hover {
	border-radius:30px;
	background-color:#e0f1ff;
}
/*---------------------------------------*/

section #title {
	text-align:left;
	font-size:30px;
}

section #menuBox {
	width:1324px;
}

section #menuBox p{
	float:left;
	display:inline-block;
	margin:0px;
	padding: 22px 0 0 0;
	width:660px;
	height:55px;
	font-size:25px;
	cursor:pointer;
}

section #menuS{
	border:1px solid gray;
	border-bottom:transparent;
	background-color:#f5faff;
}

section #menuT{
	border:transparent;
	border-bottom:1px solid gray;
	background-color:#f0f8ff;
}


section #standard {
	margin: 20px;
	text-align:left;
}

#standard p{
	font-size:23px;
}

#standard .SmainTitle {
	font-size:16px;
}

#standard .SsubTitle {
	font-size:14px;
}

#standard pre {
	font-family: 'Noto Sans KR', sans-serif;	
	font-size:14px;
}

#standard .exBox {
	margin:20px;
	border:1px solid lightgray;
}

/*=================*/

section #terms {
	display:none;
	margin: 20px;
	text-align:left;
}

#terms p {
	font-size:23px;
}

#terms .SmainTitle {
	font-size:20px;
}

#terms .scrollBox {
	overflow:scroll;
	height:400px;
	border: 1px solid gray;
}

#terms .scrollBox .boldTitle {
	margin: 5px 30px;
	font-weight:bold;
	font-size:15px;
}

#terms .scrollBox pre {
	margin: 5px 30px;
	width: 1200px;
    white-space: pre-wrap;
    word-wrap: break-word;
	font-family: 'Noto Sans KR', sans-serif;	
	font-size:13px;
}

#terms .scrollBox .minibox {
	margin: 10px 30px;
	padding: 30px;
	background-color:#f5faff;
}
/*---------------------------------------*/

footer {
	border: 2px solid lightgray;
	clear:both;
}

footer li {
	display: inline-block;
	width: 150px;
}
